[profile.default]
evm_version = "cancun"
src = "src"
out = "out"
script = "script"
libs = ["node_modules"]
fs_permissions = [{ access = "read", path = "out-optimized" }]
allow_paths = ["*", "/"]
optimizer = true
optimizer_runs=200

[rpc_endpoints]
mainnet = "${MAINNET_RPC_URL}" 

[fmt]
bracket_spacing = true
int_types = "long"
line_length = 100
multiline_func_header = "all"
number_underscore = "thousands"
quote_style = "double"
tab_width = 4
wrap_comments = true
